<form #form="ngForm" (ngSubmit)="addEntries()">
  <div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="addEntryRequest.name" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="Mobie" class="form-label">Mobile</label>
    <input type="text" class="form-control" id="mobile" name="mobile" [(ngModel)]="addEntryRequest.mobile" aria-describedby="emailHelp">
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
